.GradientGen {
  width: auto;
  height: 256px;
  position: relative;
  border-bottom: solid 4px white;
}

.GradientGen p {
  padding: 20px;
  text-align: center;
}

.GradientGen button {
  font-size: 16px;
  display: block;
  color: #dddddd;
  background-color: rgba(0, 0, 0, 0.4);
  border: 0.5px solid #dddddd;
  border-radius: 7px;
  position: relative;
  bottom: px;
}
